@font-face {
    font-family: 'sanserif';
    src:  url('./assets/fonts/IRANSans-web.woff2') format('woff2'),
          url('./assets/fonts/IRANSans-web.woff') format('woff');
  }
  body{
      font-family: sanserif;
  }